<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
</head>
<body>
    <h1>SignUp</h1>
    <form action="/user/signup" method="post">
        <label>Full Name</label>
        <input type="text" name="fullName" placeholder="Enter your fullName">

        <label>Email</label>
        <input type="text" name="email" placeholder="Enter your Email">
        
        <label>Password</label>
        <input type="text" name="password" placeholder="Enter your Password">

        <button type="submit">Sign Up</button>
    </form>
</body>
</html>